/* Write your CSS here */

.image {
  height: 40px;
  margin-top: 10px;
}

.app-item {
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 90px;
  padding: 10px;
  width: 90px;
}

.appSection {
  display: flex;
  flex-wrap: wrap;
}
.app-name {
  font-family: 'Bree Serif';
  font-size: 10px;
  white-space: nowrap;
}
